.app{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.warning{
  color: red;
}
.success{
  color:green;
}
/* /////////..........HOME PAGE...............////////////////// */
.homePage{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar{
  width: 100%!important;
  justify-content: space-between!important;
}
.homeTable{width: 40%}
table{margin-top: 50px!important}

.table td, .table th {padding: 10px 25px!important;margin: 0px 10px!important;}
th{background: rgb(248, 248, 248)!important}

/* ///////////......LANDING PAGE..........////////////// */
.landing{
  width: 40%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/* /////////........DETAILS PAGE...........//////////// */
.details{
width: 50%;
height: 300px;
display: flex;
flex-direction: column;
align-items: center;
}
.detailsCard{
width: 50%;
margin-top: 50px;
height: 300px;
display: flex;
flex-direction: column;
justify-content: space-around;
}
.detailsCard h4{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.detailsBTN{
display: flex;
justify-content: space-around;
}
h4 span{
  font-weight: 600;
  color: rgb(14, 14, 14);
}

/* ///////////////.......LOGIN PAGE......./////////////////// */
.formPage{
  width:50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.loginBtn {margin-left: 65px!important}

.userForm{
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-around;
}