body {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.warning{
  color: red;
}
.buttons{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
}
.success{
  color:green;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.landing{
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.homeBTN{
  display: flex;
  justify-content: space-between;
}